@import './src/styles-variables';

/*************************************************************
               research variables
*************************************************************/
$research-title-font-family: $app-font-family-medium !default;
$research-title-font-size: 24px !default;
$research-title-font-color: $app-font-color-secondary !default;
$research-tile-title-border-color: $app-tertiary-color !default;
$research-tile-title-font-size: 18px !default;
$research-tile-title-color: $app-font-color-secondary !default;
$research-tile-detail-font-size: 12px !default;
$research-tile-detail-color: $app-secondary-color !default;
$research-tile-detail-place-color: #bfbfbf !default;
$research-tile-content-font-family: $app-font-family-light !default;
$research-tile-content-color: #8f8f8f !default;

.research {
  flex-direction: column;
  padding: 40px;

  &__title {
    font-family: $research-title-font-family;
    font-size: $research-title-font-size;
    color: $research-title-font-color;
    margin: 5px 0;
  }

  &__tile {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-bottom: 1px dotted $research-tile-title-border-color;

    &:last-child {
      border-bottom: none;
    }

    &__title {
      font-size: $research-tile-title-font-size;
      color: $research-tile-title-color;
      margin-bottom: 5px;
    }

    &__detail {
      font-size: $research-tile-detail-font-size;
      color: $research-tile-detail-color;
      margin-bottom: 10px;

      &__place {
        color: $research-tile-detail-place-color;
      }
    }

    &__video {
      margin-bottom: 10px;

      video {
        width: 100%;
      }
    }

    &__content {
      font-family: $research-tile-content-font-family;
      color: $research-tile-content-color;
      margin-bottom: 10px;
    }
  }
}
