$app-background-color: #e6cb73;
$app-primary-color: #1c1e1e;
$app-secondary-color: #f0ec07;
$app-tertiary-color: #bfbfbf;
$app-font-color-primary: #000000;
$app-font-color-secondary: #ffffff;
$app-font-family: 'Poppins', sans-serif;
$app-font-family-light: 'Poppins-Light', sans-serif;
$app-font-family-medium: 'Poppins-Medium', sans-serif;
$app-font-family-semi-bold: 'Poppins-SemiBold', sans-serif;
$app-font-family-bold: 'Poppins-Bold', sans-serif;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./assets/fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}
